<h1>Floating Action Button</h1>

<!--Aqui é o botão de acesso rápido-->
<!--Here is the quick access button-->

<button
  mat-fab
  class="quick-access-btn"
  (click)="clickBtn()"
>
  <i class="material-icons" *ngIf="!openbtn">menu</i>
  <i class="material-icons" *ngIf="openbtn">close</i>
</button>

<!-- Abaixo as opções que serão utilizadas
dentro do botão de acesso rápido -->
<!--Below are the options that will be used
inside the quick access button-->

<button
  mat-mini-fab
  class="btnAction btnOne"
  *ngIf="openbtn"
  (click)="dialogBtnOne()"
>
  <i class="material-icons">face</i>
</button>

<button
  mat-mini-fab
  class="btnAction btnTwo"
  *ngIf="openbtn"
  (click)="dialogBtnTwo()"
>
  <i class="material-icons">done_all</i>
</button>

<router-outlet></router-outlet>
